@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', regular;
}

html {
    overflow-y: scroll;
}


.nav-links {
    list-style: none;
    display: flex;
    color: white;
    font-size: 2rem;
    gap: 5rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #1E375A;
}

.nav-links li a.active {
    position: relative;
    display: inline-block;
}


.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease;
}

footer {
    display: flex;
    background-color: #1E375A;
    margin-top: auto;
    color: white;
}

main {
    margin: 6rem;
    margin-bottom: 2rem;
}

main p {
    color: #1E375A;
}

h2 {
    font-size: 3.5em;
    color: #1E375A;
    margin: 0;
}

.footer-uade {
    width: 50px;
    margin: 10px;
}

.aboutme-container {
    display: flex;
    align-items: center;
}

.aboutme-text-container {
    flex: 1;
    color: #1E375A;
}

.aboutme-text-container p {
    font-size: 1.5em;
}

.aboutme-text-highlight {
    color: #E45700;
}

.aboutme-image-container {
    flex: 1;
    margin-left: 10em;
}

.aboutme-text-article {}

.aboutme-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-button {
    background-color: #E45700;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 2em;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.button-container {
    margin-bottom: 2vw;
    margin-top: 5vw;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #1E375A;
        width: 100%;
        text-align: center;
        gap: 2rem;
        padding: 20px 0;
    }

    .aboutme-container {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .aboutme-image-container {
        flex: 1;
        margin-left: 0px;
        order: -1;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    main {
        margin: 2rem;
    }


    .aboutme-text-article {
        margin-bottom: 20vw;
    }
}