@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', regular;
}

html {
    overflow-y: scroll;
}

.nav-links {
    list-style: none;
    display: flex;
    color: white;
    font-size: 2rem;
    gap: 5rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #1E375A;
}

footer {
    display: flex;
    background-color: #1E375A;
    margin-top: auto;
    color: white;
}

main {
    margin: 4rem;
    margin-bottom: 4rem;
}

main p {
    color: #1E375A;
}

h2 {
    font-size: 4em;
    color: #1E375A;
    margin: 0;
}

.footer-uade {
    width: 50px;
    margin: 10px;
}

.contact-container {
    display: flex;
    align-items: center;
}

.contact-text-container {
    flex: 1;
    color: #1E375A;
}

.contact-text-container p {
    font-size: 1.5em;
}

.contact-text-highlight {
    color: #E45700;
}

.contact-image-container {
    flex: 1;
    margin-left: 300px;
}

.contact-image {
    width: 80%;
}

.contact-button {
    background-color: #E45700;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 2em;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    text-decoration: none;
}

form {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 30vw;
    margin-top: 2em;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2em;
    color: #1E375A;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 15px;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #E45700;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.nav-links li a.active {
    position: relative;
    display: inline-block;
}


.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #1E375A;
        width: 100%;
        text-align: center;
        gap: 2rem;
        padding: 20px 0;
    }

    .contact-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact-image-container {
        flex: 1;
        margin: 0;
    }

    main {
        margin: 2rem;
    }

    h2 {
        font-size: 2em;

    }

    form {
        padding: 30px;
        margin: 0 10px;
        margin-top: 2em;
        max-width: 15em;
        margin-top: 2em;
        width: 100%;
    }

    form input[type="submit"] {
        width: 100%;
    }
}