@font-face {
    font-family: roboto-regular;
    src: url('Roboto-Regular.ttf');
}

* {
    font-family: roboto-regular;
}


.nav-links {
    list-style: none;
    display: flex;
    color: white;
    font-size: 2rem;
    gap: 5rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #1E375A;
}

footer {
    display: flex;
    background-color: #1E375A;
    margin-top: auto;
    color: white;
}

main {
    margin: 6rem;
    margin-bottom: 4rem;
}

main p {
    color: #1E375A;
}

h2 {
    font-size: 4em;
    color: #1E375A;
    margin: 0;
}

.footer-uade {
    width: 50px;
    margin: 10px;
}

h3 {
    font-size: 2em;
    color: #1E375A;
    margin: 0;
}

.portfolio-container {
    display: flex;
    align-items: center;
}

.portfolio-text-container {
    flex: 1;
    color: #1E375A;
}

.portfolio-text-container p {
    font-size: 1.5em;
}

.portfolio-text-highlight {
    color: #E45700;
}

.portfolio-image-container {
    flex: 1;
    margin-left: 300px;
}

.portfolio-image {
    width: 80%;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #1E375A;
        width: 100%;
        text-align: center;
        gap: 2rem;
        padding: 20px 0;
    }

    .portfolio-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-image-container {
        flex: 1;
        margin: 0;
    }

    main {
        margin: 2rem;
    }

    h2 {
        font-size: em;

    }
}